# Virtual Environment
.venv/

# Python cache
__pycache__/
*.pyc

# Dataset files (optional)
data/*.csv

# Model files
models/*.pkl

# Database
database/*.db

# Reports
reports/*.pdf

# Streamlit cache
.streamlit/

# Mac files
.DS_Store
